## Python: Funckcje - zadania

## Function Definition Print

1. Zdefiniuj funkcję ``call`` bez parametrów
1. Wypisz ``Beetlejuice`` na ekranie
1. Wywołaj funkcję trzy razy

## Function Return Numbers

1. Zdefiniuj funkcję ``add`` bez parametrów
1. Funkcja powinna zwracać sumę ``1`` i ``2``
1. Wywołaj funkcję i przechwyć zwracaną wartość
1. Wyświetl wartość

## Function Parameters Sequence

1. Zdefiniuj funkcję ``add``
1. Parametrem do funkcji ma być sekwencja liczb całkowitych
1. Wypisz sumę wszystkich wartości sekwencji

## Function Parameters Echo

1. Zdefiniuj funkcję ``echo`` z dwoma parametrami
1. Parametr ``a`` jest wymagany
1. Parametr ``b`` jest wymagany
1. Wypisz ``a`` i ``b``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
>>> echo(1, 2)
a=1 b=2

>>> echo(3, 4)
a=3 b=4
```

## Function Parameters Default

1. Zdefiniuj funkcję ``default`` z dwoma parametrami
1. Parametr ``a`` jest wymagany
1. Parametr ``b`` jest opcjonalny i ma domyślną wartość ``None``
1. Jeżeli tylko jeden argument był podany, przyjmij drugi równy pierwszemu
1. Wypisz ``a`` i ``b``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
>>> default(1)
a=1 b=1

>>> default(2, 3)
a=2 b=3
```

## Function Arguments Sequence

1. Zdefiniuj funkcję biorącą sekwencję liczb całkowitych jako argument
1. Zsumuj tylko parzyste liczby
1. Wypisz zwróconą wartość

## Function Arguments Divide

1. Zdefiniuj funkcję ``divide``
1. Funkcja przyjmuje dwa argumenty
1. Funkcja dzieli oba argumenty przez siebie i zwraca wynik dzielenia
1. Wywołaj funkcję z ``divide(4, 2)``
1. Wywołaj funkcję z ``divide(4, 0)``
1. Wypisz zwracane wartości
1. Co zrobić w przypadku błędu?

Output:
```python
>>> divide(4, 2)
2

>>> divide(4, 0)
None
```

## Function Arguments Power

1. Zdefiniuj funkcję ``power``
1. Funkcja przyjmuje dwa argumenty
1. Drugi argument jest opcjonalny
1. Funkcja zwraca wynik pierwszego argumentu do potęgi drugiego
1. Jeżeli tylko jeden argument był podany, przyjmij drugi równy pierwszemu
1. Wypisz zwracane wartości
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
>>> power(4, 3)
64

>>> power(3)
27
```

## Function Arguments Translate

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Zdefiniuj funkcję ``translate`` przyjmującą parametr ``text``
1. Użyj ``str.join()`` z wyrażeniem generatorowym do iteracji po ``text``
1. Jeżeli litera jest w ``PL`` to użyj przekonwertowanej wartości jako litera, w przeciwnym przypadku to weź literę
1. Zwróć z funkcji przetłumaczony ``text``
1. Uruchom ``translate('zażółć')``
1. Uruchom ``translate('gęślą')``
1. Uruchom ``translate('jaźń')``
1. Porównaj wyniki wartościami oczekiwanymi (test porównania powinien wyjść ``True``)

In [ ]:
PL = {'ą': 'a', 'ć': 'c', 'ę': 'e',
      'ł': 'l', 'ń': 'n', 'ó': 'o',
      'ś': 's', 'ż': 'z', 'ź': 'z'}

In [ ]:
def translate(text):    
    ...

In [ ]:
translate('zażółć') == 'zazolc'

In [ ]:
translate('gęślą') == 'gesla'

In [ ]:
translate('jaźń') == 'jazn'

## Function Arguments Clean

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Napisz jedną funkcję czyszczącą dane ``clean()``
1. Funkcja przyjmuje jeden argument typu ``str``
1. Funkcja zwraca oczyszczony tekst i powinna działać dla wszystkich przypadków
1. Porównaj wyniki wartościami oczekiwanymi (test porównania powinien wyjść ``True``)

In [ ]:
def clean(asd):
    ...

In [ ]:
clean('ul.Mieszka II') == 'Mieszka II'

In [ ]:
clean('UL. Zygmunta III WaZY') == 'Zygmunta III Wazy'

In [ ]:
clean('  bolesława chrobrego ') == 'Bolesława Chrobrego'

In [ ]:
clean('ul Jana III SobIESkiego') == 'Jana III Sobieskiego'

In [ ]:
clean('\tul. Jana trzeciego Sobieskiego') == 'Jana III Sobieskiego'

In [ ]:
clean('ulicaJana III Sobieskiego') == 'Jana III Sobieskiego'

In [ ]:
clean('UL. JA    NA 3 SOBIES  KIEGO') == 'Jana III Sobieskiego'

In [ ]:
clean('ULICA JANA III SOBIESKIEGO  ') == 'Jana III Sobieskiego'

In [ ]:
clean('ULICA. JANA III SOBIeskieGO') == 'Jana III Sobieskiego'

In [ ]:
clean(' Jana 3 Sobieskiego  ') == 'Jana III Sobieskiego'

In [ ]:
clean('Jana III Sobi  eskiego ') == 'Jana III Sobieskiego'

## Function Arguments Numbers to Str

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Dany jest alfabet pilotów dla numerów
1. Przekonwertuj ``DATA: Dict[int, str]`` na ``CONVERT: Dict[str, str]`` (klucze jako ``str``)
1. Dla danych wejściowych (patrz sekcja input poniżej)
1. Zdefiniuj funkcję konwertującą ``int`` lub ``float`` na formę tekstową w mowie pilotów
1. Możesz modyfikować ``CONVERT``
1. Nie możesz zmieniać ``DATA``
1. Porównaj wyniki wartościami oczekiwanymi (test porównania powinien wyjść ``True``)

In [ ]:
DATA = {
    0: 'zero',
    1: 'one',
    2: 'two',
    3: 'tree',
    4: 'fower',
    5: 'fife',
    6: 'six',
    7: 'seven',
    8: 'ait',
    9: 'niner',
}

def pilot_say(number):
    ...

In [ ]:
pilot_say(1969) == 'one niner six niner'

In [ ]:
pilot_say(31337) == 'tree one tree tree seven'

In [ ]:
pilot_say(13.37) == 'one tree and tree seven'

In [ ]:
pilot_say(31.337) == 'tree one and tree tree seven'

In [ ]:
pilot_say(-1969) == 'minus one niner six niner'

In [ ]:
pilot_say(-31.337) == 'minus tree one and tree tree seven'

In [ ]:
pilot_say(-49.35) == 'minus fower niner and tree fife'

## Function Arguments Numbers to Human

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Zdefiniuj funkcję konwertującą ``int`` lub ``float`` na formę tekstową
1. Forma tekstowa musi być poprawna gramatycznie
1. Max 6 cyfr przed separatorem dziesiętnym (point ``.``)
1. Max 5 cyfr po separatorze dziesiętnym (point ``.``)
1. Porównaj wyniki wartością oczekiwaną (wynik porównania powinien być ``True``)

In [ ]:
def numstr(number):
    ...

In [ ]:
numstr(1969) == 'one thousand nine hundred sixty nine'

In [ ]:
numstr(31337) == 'thirty one thousand three hundred thirty seven'

In [ ]:
numstr(13.37) == 'thirteen and thirty seven hundredths'

In [ ]:
numstr(31.337) == 'thirty one three hundreds thirty seven thousands'

In [ ]:
numstr(-1969) == 'minus one thousand nine hundred sixty nine'

In [ ]:
numstr(-31.337) == 'minus thirty one and three hundreds thirty seven thousands'

In [ ]:
numstr(-49.35) == 'minus forty nine and thirty five hundreds'

## Function Scope Filter

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Odseparuj nagłówek od danych
1. Zdefiniuj w przestrzeni globalnej ``SELECT: Set[str]`` z wartościami 'setosa' oraz 'versicolor'
1. Iterując po danych rozdziel wiersz na ``features`` i ``label`` (ostatni)
1. Zdefiniuj funkcję ``sum_if(features, label)``
1. Funkcja sumuje ``features``, tylko gdy ``label`` jest w ``SELECT``
1. Gdy ``label`` nie występuje w ``select`` zwróć ``0`` (zero)
1. Wypisz sumę
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
result: float
# 74.9
```

In [ ]:
DATA = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
]

## Function Doctest Temperature

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Napisz implementację funkcji ``celsius_to_kelvin``
1. Wszystkie testy muszą przechodzić

In [ ]:
def celsius_to_kelvin(degrees):
    """
    >>> celsius_to_kelvin(0)
    273.15
    
    >>> celsius_to_kelvin(1)
    274.15
    
    >>> celsius_to_kelvin(-1)
    272.15
    
    >>> celsius_to_kelvin('a')
    Traceback (most recent call last):
        ...
    TypeError: Invalid argument
    
    >>> celsius_to_kelvin([0, 1])
    [273.15, 274.15]
    
    >>> celsius_to_kelvin((0, 1))
    (273.15, 274.15)
    
    >>> celsius_to_kelvin({0, 1})
    {273.15, 274.15}
    """
    ...


import doctest
doctest.testmod()

## Function Doctest Distance

1. Napisz funkcję, która przeliczy dystans podany w kilometrach na metry
1. 1 km = 1000 m
1. Dystans nie może być ujemny
1. Zwracany dystans musi być float
1. Napisz doctesty
1. Wszystkie testy muszą przechodzić

In [ ]:
def distance(km):
    ...
    

import doctest
doctest.testmod()

## Function Generator Chain

1. Użyj wyrażenia generatorowego do stworzenia ``numbers: List[int]``
1. W generatorze użyj ``range()`` aby otrzymać liczby od 1 do 33 (włącznie) podzielne przez 3
1. Użyj ``filter()`` aby otrzymać liczby nieparzyste z ``numbers``
1. Użyj ``map()`` aby podnieść wszystkie liczby w ``numbers`` do sześcianu
1. Stwórz ``result: float`` ze średnią arytmetyczną z ``numbers``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
result: float
# 11502.0
```

Podpowiedź:
* ``mean = sum(...) / len(...)``
* type cast to ``list()`` before calculating mean to expand generator

## Function Lambda Chain

1. Użyj danych z sekcji "Input" (patrz poniżej)
1. Wciel kod ``odd()`` i ``cube()`` wykorzystując wyrażenia ``lambda``
1. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:
```python
result: float
# 11502.0
```

Podpowiedź:
* ``mean = sum(...) / len(...)``
* type cast to ``list()`` before calculating mean to expand generator

In [ ]:
def odd(x):
    return x % 2 != 0

def cube(x):
    return x ** 3


numbers = (x for x in range(1, 34) if x % 3 == 0)
numbers = filter(odd, numbers)
numbers = map(cube, numbers)
numbers = list(numbers)
result = sum(numbers) / len(numbers)

print(result)