# Pandas - DataFrame - wyszukiwanie - lekcja

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(0)

df = pd.DataFrame(
    columns = ['Morning', 'Noon', 'Evening', 'Midnight'],
    index = pd.date_range('1999-12-30', periods=7),
    data = np.random.randn(7, 4))

df

             Morning      Noon   Evening  Midnight
1999-12-30  1.764052  0.400157  0.978738  2.240893
1999-12-31  1.867558 -0.977278  0.950088 -0.151357
2000-01-01 -0.103219  0.410599  0.144044  1.454274
2000-01-02  0.761038  0.121675  0.443863  0.333674
2000-01-03  1.494079 -0.205158  0.313068 -0.854096
2000-01-04 -2.552990  0.653619  0.864436 -0.742165
2000-01-05  2.269755 -1.454366  0.045759 -0.187184

## Próbkowanie

- First
- Last
- Head
- Tail
- Sample

## Wybieranie wartości

- Wiersze:

    - Numeric Index
    - String Index
    - Date Index
    
- Kolumny

    - Po nazwie (jedna kolumna, wiele kolumn)
    - Po indeksach (jedna kolumna, wiele kolumn)

## Wycinanie wartości

- Wiersze:

    - Numeric Index
    - String Index
    - Date Index, zakresy dat (rok, miesiąc)
    
- Kolumny

    - Po nazwie (jedna kolumna, wiele kolumn)
    - Po indeksach (jedna kolumna, wiele kolumn) 
    
- Wiersze i kolumny

    - wybrane wiersze i wiele kolumn
    - zakres wierszy i jedna kolumna
    - jeden wiersz i wiele kolumn
    - jeden wiersz i zakres kolumn
    - indeksy binarne (maski)
    - fancy indexing
    - callable

## Selekcja

- loc i iloc
- at i iat

<img src="img/pandas-select-row.png" width="800">
<img src="img/pandas-select-column.png" width="800">
<img src="img/pandas-select-cell.png" width="800">
<img src="img/pandas-select.png" width="800">

## Wyszukiwanie

- np.where
- maski
- zapytania proste
- zapytania złożone
- logical_and
- logical_not
- logical_or
- logical_qor

## Modyfikacja danych

- Cały wiersz
- Cała kolumna
- Wybrane kolumny i wybrane wiersze
- Zakres kolumn i zakres wierszy
- Konkretna komórka
- Spełniające wyrażenie
- Podmiana wartości `replace`