# Pandas - DataFrame - przekształcenia - lekcja

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(0)

df = pd.DataFrame(
    columns = ['Morning', 'Noon', 'Evening', 'Midnight'],
    index = pd.date_range('1999-12-30', periods=7),
    data = np.random.randn(7, 4))

df

             Morning      Noon   Evening  Midnight
1999-12-30  1.764052  0.400157  0.978738  2.240893
1999-12-31  1.867558 -0.977278  0.950088 -0.151357
2000-01-01 -0.103219  0.410599  0.144044  1.454274
2000-01-02  0.761038  0.121675  0.443863  0.333674
2000-01-03  1.494079 -0.205158  0.313068 -0.854096
2000-01-04 -2.552990  0.653619  0.864436 -0.742165
2000-01-05  2.269755 -1.454366  0.045759 -0.187184

## Wartości puste

- Wybieranie wartości pustych:

    - Any
    - All
    - Czy null
    - Czy puste
    
- Wypełnianie

    - Wypełnianie skalarne
    - Wypełnianie słownikowe
    - Wypełnianie w przód
    - Wypełnianie w tył
    - Interpolacja

- Usuwanie:

    - Usuwanie pustych wierszy (any, all)
    - Usuwanie pustych kolumn (any, all)

## Sortowanie

- Sortowanie wierszy

    - Sortowanie wierszy
    - Sortowanie kolumn

- Sortowanie wartości

    - W kolumnach
    - W wierszach
    
- Sortowanie rosnąco i malejąco

## Modyfikacja struktury

- Dodawanie kolumn
- Dodawanie wierszy
- Usuwanie kolumn
- Usuwanie wierszy
- Transpozycja

## Aplikowanie funkcji

- map
- apply
- applymap
- Różnice
- Kiedy które


<img src="img/pandas-df-mapping.png" width="800" />