# Pandas - DataFrame - lekcja

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(0)

df1999 = pd.DataFrame(
    columns = ['Morning', 'Noon', 'Evening', 'Midnight'],
    index = pd.date_range('1999-12-29', periods=3),
    data = np.random.randn(3, 4))

df2000 = pd.DataFrame(
    columns = ['Morning', 'Noon', 'Evening', 'Midnight'],
    index = pd.date_range('2000-01-01', periods=3),
    data = np.random.randn(3, 4))

In [3]:
df1999

             Morning      Noon   Evening  Midnight
1999-12-29  1.764052  0.400157  0.978738  2.240893
1999-12-30  1.867558 -0.977278  0.950088 -0.151357
1999-12-31 -0.103219  0.410599  0.144044  1.454274

In [4]:
df2000

             Morning      Noon   Evening  Midnight
2000-01-01  0.761038  0.121675  0.443863  0.333674
2000-01-02  1.494079 -0.205158  0.313068 -0.854096
2000-01-03 -2.552990  0.653619  0.864436 -0.742165

In [5]:
first_names = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'first_name': ['Mark', 'Jan', 'Ivan', 'Melissa']})

last_names = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'last_name': ['Watney', 'Twardowski', 'Ivanovic', 'Lewis']})

## Łączenie danych

- Concatetnate
- Append
- Merge
- Join

<img src="img/pandas-df-join.png" width="800" />

## Eksport danych

- Obsługiwane formaty

## Wizualizacja danych

- Liniowy
- Słupkowy pionowy
- Słupkowy poziomy
- Histogram
- Pudełkowy
- Rozkład
- Powierzchniowy
- Pie chart
- Scatter
- Kubełkowy
- Scatter matrix